/* src/App.css */
body {
  background: linear-gradient(135deg, #f9fafb, #f8fafb); /* Dieser Verlauf bleibt wie gewünscht */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #f5f5f5;
}

.App-header {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(255, 252, 252, 0.99);
  border-bottom: 1px solid rgba(251, 247, 247, 0.2);
}

.App-title {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  color: #f1e9e9; /* Titel bleibt weiß */
}

.App-subtitle {
  font-size: 1.1rem;
  color: #bbbbbb;
  margin-top: 10px;
}

.App-nav {
  margin-top: 20px;
}

.App-button {
  background: #1e0bee; /* Hier ändern wir das Blau in Weiß */
  border: none;
  border-radius: 20px;
  color: #fafafa; /* Textfarbe in dunkles Grau ändern für bessere Lesbarkeit */
  padding: 12px 30px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Behalte den Schatten */
}

.App-button:hover {
  background: #e0e0e0; /* Ein etwas dunkleres Weiß für Hover-Effekte */
  transform: translateY(-3px);
}

.Chatbot-container {
  margin: 40px auto;
  width: 80%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.981);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 6px 30px rgba(7, 7, 78, 0.4);
  backdrop-filter: blur(10px);
}

.Chatbot-actions {
  margin-top: 20px;
  text-align: center;
}

.Chatbot-action {
  margin: 10px;
}

input[type="text"] {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(8, 8, 8);
  margin-right: 5px;
  outline: none;
  color: #111010;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  background: #c46914; /* Ändern wir das Blau in Weiß */
  color: #fbf3f3; /* Textfarbe in Dunkelgrau */
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #e0e0e0; /* Ein helleres Grau beim Hovern */
}

input[type="text"]::placeholder {
  color: #888;
}
